{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header animate__animated animate__fadeIn">
    <img src="{% static 'img/logo.png' %}" alt="Логотип" class="logo pulse">
</div>

<div class="welcome-message animate__animated animate__fadeInUp">
    <h2>Добро пожаловать<br>в ресторан {{ restaurant_name }}!</h2>
    <div class="table-info">
        <p>Этаж{{ section_name }} • Стол №{{ table_number }}</p>
    </div>
</div>

<div class="main-menu animate__animated animate__fadeInUp">
    <div class="menu-grid">
        <a href="{{ FeedbackForm }}" class="menu-item glass-effect">
            <i class="fas fa-star"></i>
            <span>Оставить отзыв</span>
        </a>
        <a href="{% url 'menu_choice' uuid=table.uuid %}" class="menu-item glass-effect">
            <i class="fas fa-utensils"></i>
            <span>Меню</span>
        </a>
        <a href="{% url 'call_waiter' uuid=table.uuid %}" class="menu-item glass-effect">
            <i class="fas fa-bell"></i>
            <span>Позвать официанта</span>
        </a>
        <a href="{% url 'pred_check' uuid=table.uuid %}" class="menu-item glass-effect">
            <i class="fas fa-receipt"></i>
            <span>Текущий счет</span>
        </a>
        <a href="#" class="menu-item glass-effect">
            <i class="fas fa-receipt"></i>
            <span>Попросить счет</span>
        </a>
        <a href="#" class="menu-item glass-effect">
            <i class="fas fa-credit-card"></i>
            <span>Произвести оплату</span>
        </a>
    </div>
</div>

<footer class="footer animate__animated animate__fadeInUp">
    <div class="mascot">
        <img src="{% static 'img/animal_avatariya.png' %}" alt="Талисман Avatariya" class="mascot-image">
    </div>
    <div class="social-links">
        <a href="{{ whatsapp_url }}" class="social-link" target="_blank">
            <img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp">
        </a>
        <a href="{{ instagram_url }}" class="social-link" target="_blank">
            <img src="{% static 'svg/instagram.svg' %}" alt="Instagram">
        </a>
        <a href="https://avatariya.com/" class="social-link" target="_blank">
            <img src="{% static 'img/website.png' %}" alt="Website" class="website-icon">
        </a>
    </div>
</footer>
{% endblock %}